*{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin-left: 80px;
    margin-right: 80px;
}
.company-intro{
    background-image: url(./assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: max-content;
}

.mouse-click{
    margin-top: 100px;
}

.jumbotron{
    padding-top: 400px;
}

.logo{
    margin-bottom: 10px;
}

.description-text{
    padding-bottom: 30px;
    font-size: 20px;
}

.about-us-sec{
    height: 400px;
    padding-top: 100px;
}

.service-sec{
    background-image: url(./assets/backgrounds/s_image.jpg);
    background-size: cover;
    height: 400px;
    padding-top: 100px;
}

h2{
    font-weight: bold;
    text-transform: uppercase;
}

.what-we-do{
    padding-top: 30px;
    height: 200px;
}

.what-we-do-sec{
    padding-top: 100px;
}

.services{
    cursor: pointer;
}

.services img{
    margin-bottom: 20px;
}

.portfolio-sec{
    margin-bottom: 50px;
    padding-top: 100px;
}

.projects-display{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.projects-display img{
    width: 20%;
    padding: 20px;
    text-align: center;
}

.contact-sec{
    background-image: url("./assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 80px;
}

.form-control{
    width: 400px;
    margin-right: 40px;
    border-radius: 0;

}

.form-group{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.form-control::-webkit-input-placeholder {
    color: white;
    font-weight: bold;
  }

  textarea{
      width: 1200px;
  }

  .btn{
      width: 400px;
      background-color: transparent;
  }

  .btn:hover{
    background-color: rgb(250, 171, 25);
}

  .footer-icons{
      padding-top: 40px;
      padding-bottom: 40px;
  }

  .footer-icons img{
    margin-right: 40px;
}

.footer-text p{
    font-size: 20px;
    font-weight: bold;
}
